

<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap CSS -->
    
</head>
<body>
    <footer class=" bg-transparent text-center text-light">
        <div class="container py-2">
            <p class="m-0">
                &copy; <span id="current-year"></span> <strong>Module2 HRMS Project</strong>. All Rights Reserved.
            </p>
        </div>
    </footer>



    <!-- JavaScript to set the current year dynamically -->
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
